<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="UTF-8">

<title>Modifier une vente</title>

<link

    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"

    rel="stylesheet"

    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"

    crossorigin="anonymous">

<link rel="stylesheet" href="./css/style.css">

</head>

 

<body>

<!-- Intégration du fragment d'entête -->

<div data-th-replace="~{/fragments/fragment-entete :: frag-entete}"></div>

<h1>Modifier une vente</h1>
<!--  <img>-->
<form method="post" th:action="modifierVente" th:object="${articleVendu}">

	<label for="nom">Article : </label>
	<input type="text" id="nom" th:field="*{nomArticle}"><br>
	
	<label for="description">Description : </label>
	<textarea id="description" th:field="*{description}"></textarea><br>
	
	<label for="categorie">Catégorie : </label>
	<select id="categorie" th:field="*{categorie}">
		<option th:each="cat: ${categories}" th:value="${cat.noCategorie}" th:text="${cat.libelle}" th:selected="${ cat.noCategorie == articleVendu.categorie.noCategorie }"></option>
	</select><br>
	
	
	
	<label for="photo">Photo de l'article : </label>
	<input type="file" id="photo"><br>
	
	<label for="miseAPrix">Mise à prix : </label>
	<input type="number" id="miseAPrix" th:field="*{miseAPrix}"><span> points</span><br>
	
	<label for="debut">Début de l'enchère : </label>
	<input type="date" id="debut" th:field="*{dateDebutEncheres}"><br>
	
	<label for="fin">Fin de l'enchère : </label>
	<input type="date" id="fin" th:field="*{dateFinEncheres}"><br>
	
	<input type="hidden" th:field="*{noArticle}">
	
	<!-- <fieldset>
	
		<legend>Retrait</legend>
		
		<label for="rue">Rue : </label>
		<input type="text" id="rue" th:field="*{retrait.rue}" th:text="${retrait.rue}"><br>
		
		<label for="codePostal">Code postal : </label>
		<input type="text" id="codePostal" th:field="*{retrait.codePostal}"><br>
		
		<label for="ville">Ville : </label>
		<input type="text" id="ville" th:field="*{retrait.ville}">
		
	</fieldset> -->
	
	<button type="submit">Enregistrer</button>
	<a href="/"><input type="button" value="Annuler"></a>
	<input type="button" value="Annuler la vente" title="Non fonctionnel">
	
</form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>