<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Accueil</title>
</head>
<body>
	<h1>Liste des enchères</h1>

	<p>Filtre :</p>
	<input type="text" id="searchInput" placeholder="Rechercher un produit">

	<!-- Liste déroulante -->
	<select id="categoryDropdown" th:field="*{articleVendu}" required>
		<option value="">Toutes</option>
		<option th:each="categorie: ${@categorieService.getListeCategorie()}"
			th:value="${categorie.noCategorie}" th:text="${categorie.libelle}"></option>
	</select>

	<!-- Bouton "Rechercher" -->
	<button>Rechercher</button>

	<!-- Liste de produits -->
	<div data-th-each="articleVendu: ${articlesVendus}">
		
		<!-- Chemin à modifier 
		<img th:src="@{'/images/' + ${articleVendu.noArticle} + '.jpg'}" alt="image">-->
		<p ><a data-th-text="${articleVendu.nomArticle}" data-th-href="@{/encherir}"></a></p>
		
			<p>Prix : <span data-th-text="${prixVente}"></span> points</p>
		
		
			<p>Fin de l'enchère : <span data-th-text="${dateFinEncheres}"></span></p>
			<p>Vendeur : <span data-th-text="${utilisateur.pseudo}"></span></p>
		

	</div>
</body>
</html>