<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
	crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=Tsukimi+Rounded:wght@700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="./css/style.css">
</head>

<body>
<!-- Intégration du fragment d'entête -->
<div data-th-replace="~{/fragments/fragment-entete :: frag-entete}"></div>
<h1>Mon Profil</h1>
<fieldset th:object="${utilisateur}">

	<p>Pseudo : <span data-th-text="${utilisateur.pseudo}"></span><p>
	<p>Nom : <span data-th-text="${utilisateur.nom}"></span><p>
	<p>Prénom : <span data-th-text="${utilisateur.prenom}"></span><p>
	<p>Email : <span data-th-text="${utilisateur.email}"></span><p>
	<p>Téléphone : <span data-th-text="${utilisateur.telephone}"></span><p>
	<p>Rue : <span data-th-text="${utilisateur.rue}"></span><p>
	<p>Code postal : <span data-th-text="${utilisateur.codePostal}"></span><p>
	<p>Ville : <span data-th-text="${utilisateur.ville}"></span><p>
	<p>Crédit : <span data-th-text="${utilisateur.credit}"></span><p>

</fieldset>
	<a data-th-href="@{/modifierMonProfil(noUtilisateur=${utilisateur.noUtilisateur})}">
	<button>Modifier</button></a>

<div data-th-replace="~{/fragments/frag-piedpage :: frag-piedpage}"></div>
</body>
</html>