<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="./css/style.css">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
	crossorigin="anonymous">


</head>

<body>
	<nav class="navbar navbar-light bg-light">
		<a class="navbar-brand" href="/encheres"> <img
			src="/images/LogoSansFond.png" width="80" height="60"
			class="d-inline-block align-bottom" alt=""> ENI Wish?
		</a>
	</nav>
	<nav class="navbar navbar-expand-lg bg-body-tertiary">
		<div class="container-fluid">
			<a class="navbar-brand" href="/encheres">Ventes en cours</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="login">Se connecter</a></li>
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="/logout">Se déconnecter</a></li>
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="/inscription">S'inscrire</a></li>
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="/nouvelleVente">Créer une vente</a></li>
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="/monProfil">Mon profil</a></li>
					<li>
					<form class="d-flex" role="search" th:action="@{/rechercher}"
						method="get">
						<input class="form-control me-2" type="text" name="nomArticle"
							placeholder="Rechercher un produit">
						<button class="btn btn-outline-success" type="submit">Rechercher</button>
					</form>
					</li>
					<li>
                <form class="d-flex" role="search" th:action="@{/filtreCategorie}" th:object="${articleVendu}"
                        method="get">
                        <!-- <input class="form-control me-2" type="text" name="categorie"
                            placeholder="Rechercher un produit"> -->
                            <label for="categorie"> </label>
                                <!-- <select id="categorie" name="categorie"></select> -->
                                
                                <!--  --><select id="categorie" name="noCategorie">
                                <option th:each ="cat:${categories}" th:value="${cat.noCategorie}" 
                                th:text="${cat.libelle}"></option>
                                </select>
                            <button class="btn btn-outline-success" type="submit">Rechercher</button>
                    </form></li>
				</ul>
			</div>
		</div>
	</nav>
	<br>
	<script>
    window.addEventListener('DOMContentLoaded', function() {
      var radio1 = document.querySelector('#radio1');
      var radio2 = document.querySelector('#radio2');
      var checkbox1 = document.querySelector('input[name="checkbox1"]');
      var checkbox2 = document.querySelector('input[name="checkbox2"]');
      var checkbox3 = document.querySelector('input[name="checkbox3"]');
      var checkbox4 = document.querySelector('input[name="checkbox4"]');
      var checkbox5 = document.querySelector('input[name="checkbox5"]');
      var checkbox6 = document.querySelector('input[name="checkbox6"]');
      function updateCheckboxState() {
        checkbox1.disabled = !radio1.checked;
        checkbox2.disabled = !radio1.checked;
        checkbox3.disabled = !radio1.checked;
        checkbox4.disabled = !radio2.checked;
        checkbox5.disabled = !radio2.checked;
        checkbox6.disabled = !radio2.checked;
      }

      radio1.addEventListener('change', updateCheckboxState);
      radio2.addEventListener('change', updateCheckboxState);
      updateCheckboxState();
      
    
   
    });
    
    
    function goToLink() {
      var checkbox1 = document.querySelector('input[name="checkbox1"]');
      var checkbox4 = document.querySelector('input[name="checkbox4"]');
      var link = "/encheres"; // Remplacez "/rechercher" par l'URL réelle que vous souhaitez utiliser
      
      if (checkbox1.checked) {
        window.location.href = link;
      }
      
      if (checkbox4.checked) {
        
        var link = "/FiltreMesVentesEnCours";
        window.location.href = link;
      }
    }
  </script>
</head>
<!-- <div> -->
<body>
<!--<form class="d-flex" role="search" th:action="@{/rechercher}"
						method="get">  -->
               
                
  <label >
    <input type="radio" id="radio1" name="option" value="option1">
    Option 1
  </label>
  
  <br>
  
  <label>
    <input type="checkbox" name="checkbox1" onclick="goToLink()" >
   	Encheres en cours :
 </label>
  <br>
 
   <label >
    <input type="checkbox" name="checkbox2" onclick="goToLink()">
    Case à cocher 2
  </label>
  <br>
   <label>
    <input type="checkbox" name="checkbox3">
    Case à cocher 3
  </label>
  
  <br>
  
  <label>
  
    <input type="radio" id="radio2" name="option" value="option2">
    Option 2
  </label>
  <br>
   <label>
   <input type="checkbox" name="checkbox4" onclick="goToLink()">
    Mes ventes en cours :
  </label>
  <br>
   <label>
    <input type="checkbox" name="checkbox5">
    Case à cocher 2
  </label>
  <br>
   <label>
    <input type="checkbox" name="checkbox6">
    Case à cocher 3
  </label>
  <!-- </form> -->
<!--  </div>-->
  <br>
 
	
    
    
	<div class="container">
		<div class="row row-cols-1 row-cols-md-2 g-4">
			<tbody>
				<div th:each="l : ${articleVendu}">
						<div class="card">
							<!-- Contenu de la carte -->
							<!-- image de la carte 
          <img th:src="@{'/images/' + ${1.categorie.noCategorie} + '.png'}"
								alt="image categorie">-->
							<div class="card-body">
								<h5 class="card-title" th:text="${l.nomArticle}"></h5>
								<img
								th:src="@{'/images/' + ${l.categorie.noCategorie} + '.png'}"
								alt="image categorie">
								<p>Prix : <span class="card-text" th:text="${l.prixVente}"></span> points</p>
								<p>Fin de l'enchère : <span class="card-text" th:text="${l.dateFinEncheres}"></span></p>
								<p>Pseudo utilisateur : <span class="card-text" th:text="${l.utilisateur.pseudo}"></span></p>
								<p>Catégorie : <span class="card-text" th:text="${l.categorie.libelle}"></span></p>
								<p>Catégorie : <span class="card-text" th:text="${l.categorie.noCategorie}"></span></p>
							</div>
						</div>
					</div>
			</tbody>
		</div>
	</div>




	<br>
	<div class="container">
		<div class="row row-cols-1 row-cols-md-2 g-4">
			<!-- Liste de produits -->
			<div data-th-each="articleVendu : ${articlesVendus}">
				<!-- Chemin à modifier 
		<img th:src="@{'/images/' + ${articleVendu.noArticle} + '.jpg'}" alt="image">-->
				<div class="d-flex justify-content-center">
					<div class="col">
						<div class="card">

							<img
								th:src="@{'/images/' + ${articleVendu.categorie.noCategorie} + '.png'}"
								alt="image categorie">

							<div class="card-body">
								<p class="card-title">
									<a data-th-text="${articleVendu.nomArticle}"
										data-th-href="${articleVendu.utilisateur.pseudo != utilisateurConnecte ? '/encherir?noArticleVendu=' + articleVendu.noArticle + '' : '/modifierVente?noArticleVendu=' + articleVendu.noArticle + ''}"></a>
								</p>
								<p>
									Prix : <span data-th-text="${articleVendu.prixVente}"></span>
									points
								</p>

								<p>
									Fin de l'enchère : <span
										data-th-text="${articleVendu.dateFinEncheres}"></span>
								</p>
								<!-- <p>Fin de l'enchère : <span data-th-text="${articleV.noCategorie}"></span></p> -->
								<p>
									Pseudo utilisateur : <a
										data-th-text="${articleVendu.utilisateur.pseudo}"
										data-th-href="@{/profil(pseudo=${articleVendu.utilisateur.pseudo})}">
									</a>
								</p>
								<p>
									Catégorie : <span
										data-th-text="${articleVendu.categorie.libelle}"></span>
								</p>
								<!-- <a href="#!" class="btn btn-primary">Button</a> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


<div data-th-replace="~{/fragments/frag-piedpage :: frag-piedpage}"></div>
</body>
</html>