<header xmlns:th="http://www.thymeleaf.org" data-th-fragment="frag-entete">
	<nav class="navbar navbar-light bg-light">
		<a class="navbar-brand" href="/encheres"> 
		<img src="/images/LogoSansFond.png" width="80" height="60"
			class="d-inline-block align-bottom" alt=""> ENI Enchères
		</a>
	</nav>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
		<div class="container-fluid">
			<a class="navbar-brand" href="/encheres">Ventes en cours</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="/login">Se connecter</a></li>
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="/logout">Se déconnecter</a></li>
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="/inscription">S'inscrire</a></li>
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="/nouvelleVente">Créer une vente</a></li>
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="/monProfil">Mon profil</a></li>

				</ul>
			</div>
		</div>
	</nav>
</header>