html {
    height:100%;
    background-color : #c5d5cb;
	background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
	margin:30;
}

body {
    margin:30;
	background-color : #c5d5cb;
}

main {
    margin:30;
	background-color : #c5d5cb;
}

.eniWish{
   font-size:2rem;
   font-weight: bold;
   font-family: 'Tsukimi Rounded', sans-serif;
   color:#629394;
}

.lecssctop{
	display: flex;
	background-color : #c5d5cb;
}

.blockCheck1{
	display: inline;
	margin-bottom: 15px;
	margin-left : auto;
	
}
.blockCheck2{
	display: inline-block;
	margin-bottom: 15px;
	margin-left : 80px;
	margin-right: auto;	
}

.card{
   text-align: center;
}

img {

max-height : 200px;
}

.nav-item{
margin : 7px;
}


footer {
  position : bottom;
}
/*

















*/