html {
    height:100%;
	background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
	margin:30;
}
 
body {
    margin:30;
	background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
}

.corps

{
    margin:30;
     background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);

}

