html {
    height:100%;
    background-color : #c5d5cb;
	margin:30;
}

body {
    margin:30;
	background-color : #c5d5cb;
}

main {
    margin:30;
	background-color : #c5d5cb;
}

h1{
   font-size:2rem;
}


.eniWish{
   font-size:2rem;
   font-weight: bold;
   font-family: 'Tsukimi Rounded', sans-serif;
   color:#629394;
}

form {
	margin : auto;
}

.lecssctop{
	display: flex;
	background-color : #c5d5cb;
}

.blockCheck1{
	display: inline;
	margin-bottom: 15px;
	margin-left : auto;
	
}
.blockCheck2{
	display: inline-block;
	margin-bottom: 15px;
	margin-left : 80px;
	margin-right: auto;	
}

.card{
   text-align: center;
}

img {

max-height : 200px;
}

.nav-item{
margin : 7px;
}


footer {position: relative; bottom: 0; background-color : #c5d5cb;}
/*

















*/